.app-todo-item {
  display: flex;
  align-items: center;
  gap: 16px;
  max-height: 36px;
}

.app-todo-text {
  font-size: 1.6rem;
  flex: 1;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;


  &--completed {
    text-decoration: line-through;
    color: #888;
  }
}
